.rootDiv {
  background-color: var(--b1);
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Lekton-Regular", monospace;
  text-align: center;
}

#ascii {
  font-family: "Lekton-Regular", monospace;
  text-align: center;
  width: 100%;
  height: 100%;
  color: var(--f1);
}

@media (orientation: landscape) {
  #ascii {
    font-size: 0.55vw;
    line-height: 0.55vw;
    letter-spacing: -0.005vw;
  }
}

@media (orientation: portrait) {
  #ascii {
    font-size: 0.75vw;
    line-height: 0.8vw;
    letter-spacing: -0.05vw;
  }
}

div#center-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#top-left-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 2vh;
  margin-left: 2vw;
}

div#top-right-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 2vw;
  margin-right: 2vh;
  text-align: right;
}

div#bottom-left-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 2vh;
  margin-left: 2vw;
}

div#bottom-right-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 2vh;
  margin-right: 2vw;
}

.text {
  font-family: "Lekton-Regular", monospace;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
