.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#ascii {
  font-family: "Courier New", "Courier", monospace;
  text-align: center;
}

@media (orientation: landscape) {
  #ascii {
    font-size: 0.7vw;
    line-height: 0.7vw;
    letter-spacing: -0.1vw;
  }
}

@media (orientation: portrait) {
  #ascii {
    font-size: 0.7vw;
    line-height: 1.6vw;
    letter-spacing: -0.05vw;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
