.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-family: "Lekton-Regular", monospace;
  text-align: center;
}

#ascii {
  font-family: "Lekton-Regular", monospace;
  text-align: center;
  width: 100%;
  height: 100%;
}

@media (orientation: landscape) {
  #ascii {
    font-size: 0.55vw;
    line-height: 0.55vw;
    letter-spacing: -0.005vw;
  }
}

@media (orientation: portrait) {
  #ascii {
    font-size: 0.75vw;
    line-height: 0.8vw;
    letter-spacing: -0.05vw;
  }
}

div#center-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#bottom-right-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 2vw;
  margin-bottom: 2vh;
  text-align: right;
}

.text {
  font-family: "Lekton-Regular", monospace;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
